@import './variables.scss';

.item {
  font-weight: bold;
  color: rgba(#fff, 0.8);
  text-decoration: none;
  line-height: 40px;
  display: flex;
  align-items: center;

  + .item {
    margin-left: 32px;
  }
}

a.item:hover {
  color: #fff;
}

.icon {
  color: $color-blue;
  font-size: 1.5em;
  margin-right: 0.4em;
}
